@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply scroll-smooth;
  }
}
/* :root {

  --background: white;
  --foreground: black;
}
*/
/* [data-theme='dark'] {
  --background:#1D1E30;
  --foreground: white;
}  */